.example-card {
  max-width: 800px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;

}

table {
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

th {
  text-align: left;
}

.list {
  list-style-type: none;
}

.mat-card-header {
  margin: auto;
}

.container {
  display: flex;
}

.fill {
  flex: 1;
}

.end {
  margin-left: 200px;
  color: #2eb57a;
  font-weight: bold;
}

.example-header-image {
  /* background-image: url('../../../../../assets/Icons/fe3bf53162ccc397f952359ce85c77cc.png'); */
  background-size: cover;
  height: 150px;
  width: 150px;
}

.spacer2 {
  flex: 1 1 auto;
}

.lines {
  line-height: 18px;
}
