
    <mat-card class="example-card" >
        <div layout-align="space-between end">
          <mat-card-header>
            <img
            mat-card-avatar
            class="example-header-image"
            src={{trip.pic}}>
            <button 
            mat-stroked-button 
            matTooltip="Delete Trip Permanently"
            (click)="doAll(trip)"
            class="del">X</button>
            <mat-card-title>
              <div class="container"
              fxLayout
              fxLayout.xs="column"
              fxLayoutAlign="end center"
              fxLayoutGap.xs="0">
                <div class="item item-4" fxFlex>{{trip.destination}}: {{trip.name}}</div>
                <span class="end">{{trip.total | currency}}</span>
              </div>
            </mat-card-title>
                  <mat-card-subtitle>
                <mat-divider inset="true"></mat-divider>
                <div class="lines">
                  <div>Origin: {{trip.origin}}</div>
                  <div>Departure Date: {{trip.departureDate}}</div>
                  <div>Return Date: {{trip.arrivalDate}}</div>
      
                </div>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <br>
            <div class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="end center">
            <div fxFlexOffset="10" fxFlex="90" class="item">
                Meals:
            </div> 
              <span fxFlex="20" class="item">{{trip.mealTotal | currency}}</span>  
                </div>
              
                <div class="container"
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign="end center">
                <div fxFlexOffset="10" fxFlex="90" class="item">
                    Transportation: 
                </div>
                <span class="item" fxFlex="20">
                 {{trip.transportationTotal | currency}}
                </span>
              </div>
              <div class="container"
                fxLayout="row"
                fxLayout.xs="column"
                fxLayoutAlign="end center">

                <div fxFlexOffset="10" fxFlex="90" class="item">
                Lodging:
              </div>
              <span class="item" fxFlex="20">
                  {{trip.lodgingTotal | currency}}
                </span>
              </div>
                <!-- <td>Meals:</td>
                <td>{{price.subTotal | currency}}</td> -->
                
              
            
            </mat-card-content>
                <mat-card-actions>
                 <div *ngIf="trip.status === 'pending'">
                    <button (click)="onApprove(trip)" mat-raised-button>Approve</button>
                    <button 
                    (click)="onDeny(trip)" 
                    mat-raised-button>Deny</button>
                  </div>
                </mat-card-actions>
            


