<nav>
 
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">LOGO</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html">My Trips</a></li>
      <li><a href="badges.html">Account</a></li>
      <li><a href="collapsible.html">Share</a></li>
    </ul>
  </div>
</nav>
<div class="row" id="inputBar">
  <h1 bottom="200px">What is your Destination?</h1>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="text" class="validate">
        <label for="email">City</label>
        <!-- <span class="helper-text" data-error="wrong" data-success="right">Helper text</span> -->
      </div>
    </div>
  </form>
</div>