.right-triangle {
  position: fixed;
  bottom: 0%;
  right: 0%;
  height: 60%;
  width: 60%;
  background: transparent linear-gradient(51deg, #E9EDF8 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path:  polygon(100% 0, 0% 100%, 100% 100%);
  z-index: -1;
}

a:hover {
  text-decoration: underline;
}

.card {
  width: 675px;
  height: 450px;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 50px rgba(38, 44, 52, 0.08);
  opacity: 1;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}