.right-triangle {
  position: fixed;
  bottom: 0%;
  right: 0%;
  height: 90%;
  width: 60%;
  background: var(--triangle);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path:  polygon(100% 0, 0% 100%, 100% 100%);

}

a:hover {
  text-decoration: underline;
}

.card {
  padding: 8em;
  width: 50%;
  height: 40%;
  max-width: 675px;
  max-height: 450px;
  background: var(--bg-panel) 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 50px rgba(38, 44, 52, 0.08);
  border-radius: 20px;
  /* background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box; */
  opacity: 1;
  z-index: 2;
}

.example-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}