
<landing-nav></landing-nav>

<mat-card 
class="card">
  <div>
    <div>
  
      <main
      fxLayout-Align="">
        <!-- login form -->
        <a (click)="router.navigate(['/'])"><- Go Back</a>
        <h1 >Welcome Back</h1>
     
        <form class="example-container" *ngIf="firstFormGroup" [formGroup]="firstFormGroup">
            <mat-form-field [formGroup]="form" required>
                <input matInput 
                formControlName="email"
                placeholder="Email"
                id="email"
                >
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
              <mat-form-field [formGroup]="form">
                  <input matInput 
                  placeholder="Enter your password"
                  formControlName="password"
                  id="password"
                  [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
        </form>
            <!-- <form method="post"> -->
                <!-- <input type="text" autofocus placeholder="email" name="email" id="email" >
                <input type="password" placeholder="password" name="password" id="password"> -->
                <button mat-raised-button color="accent" (click)="verifyUser()">Login</button>
              <!-- </form> -->
       
        
      </main>
    </div>
  </div>
</mat-card>
<div class="right-triangle"></div>
