<div id="content" #content>

<div *ngIf="!lifecycle.isDoneLoading">
    <mat-progress-bar
    class="progress"
    mode="query"
    color="primary"
    ></mat-progress-bar>
</div>
<br>
<mat-card class="example-card" >
  <div id="contentToConvert"
 
  >
    <mat-card-header>
      <img
      mat-card-avatar
      class="example-header-image"
      [src]={{trips.imgUrl}}>
      <mat-card-title>
        <div class="container">
          <div>{{trips.destination}}: {{trips.title}}</div>
          <div class="fill"></div>
          <div *ngIf="trips.total">
          <div class="end">{{trips.total | currency}}</div>
        </div>
        </div>
      </mat-card-title>
            <mat-card-subtitle>
          <mat-divider inset="true"></mat-divider>
          <div class="lines">
            <div>Origin: {{trips.origin}}</div>
            <div>Departure Date: {{tempDeparture}}</div>
            <div>Return Date: {{tempReturn}}</div>

          </div>
      </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <mat-accordion style="width:100%">
          <mat-expansion-panel [disabled]="true" hideToggle="true">
              <mat-expansion-panel-header>
              <mat-panel-title>
                  Expense
                </mat-panel-title>
              <mat-panel-title>
                  Lowest Estimate
              </mat-panel-title>
              <mat-panel-title>
                  Highest Estimate
              </mat-panel-title>
              <mat-panel-title>
                  Average Cost
              </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            
            <mat-expansion-panel *ngIf="prices.flight1">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Departing Flight: 
                  </mat-panel-title>
                  <mat-panel-description *ngFor="let flight of prices.flight1" class="list">
                      {{flight | currency}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <table *ngIf="prices.flight1">
                    <tr>
                      <td>
                        <a href="{{details.flight1.lowFlight.URL}}" target="_blank" rel="noopener noreferrer">
                            {{details.flight1.lowFlight.airline}}</a>
                      </td>
                      <td>
                        <a href="{{details.flight1.highFlight.URL}}" target="_blank" rel="noopener noreferrer">
                        {{details.flight1.highFlight.airline}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>{{details.flight1.lowFlight.cabin}}</td>
                      <td>{{details.flight1.highFlight.cabin}}</td>
                    </tr>
                    <tr>
                      <td>
                        {{details.flight1.lowFlight.flightPath.origin}} - {{details.flight1.lowFlight.flightPath.destination}} || {{details.flight1.lowFlight.stops}} stop
                      </td>
                      <td>
                          {{details.flight1.highFlight.flightPath.origin}} - {{details.flight1.highFlight.flightPath.destination}} || {{details.flight1.highFlight.stops}} stop
                        </td>
                    </tr>
                  </table>
                  <mat-action-row>
                      Change Price
                  <mat-button-toggle-group #group="matButtonToggleGroup">
                      <mat-button-toggle 
                      class="box" 
                      value="1" 
                      aria-label="Cheapest option"
                      (click)="editFlight1Price(1)"> $ </mat-button-toggle>
                      <mat-button-toggle 
                      class="box" 
                      value="2" 
                      aria-label="Middle option"
                      (click)="editFlight1Price(2)">$$ </mat-button-toggle>
                      <mat-button-toggle 
                      style="padding: 0px" 
                      class="box" 
                      value="3" 
                      aria-label="Extravegent option"
                      (click)="editFlight1Price(3)">
                        $$$
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-action-row>
            </mat-expansion-panel>

                <mat-expansion-panel *ngIf="prices.flight2">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Returning Flight: 
                      </mat-panel-title>
                      <mat-panel-description *ngFor="let flight of prices.flight2" class="list">
                          {{flight | currency}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <table *ngIf="prices.flight2">
                        <tr>
                          <td>
                            <a href="{{details.flight2.lowFlight.URL}}" target="_blank" rel="noopener noreferrer">
                                {{details.flight2.lowFlight.airline}}</a>
                          </td>
                          <td>
                            <a href="{{details.flight2.highFlight.URL}}" target="_blank" rel="noopener noreferrer">
                            {{details.flight2.highFlight.airline}}</a>
                          </td>
                        </tr>
                        <tr>
                          <td>{{details.flight2.lowFlight.cabin}}</td>
                          <td>{{details.flight2.highFlight.cabin}}</td>
                        </tr>
                        <tr>
                          <td>
                            {{details.flight2.lowFlight.flightPath.origin}} - {{details.flight2.lowFlight.flightPath.destination}} || {{details.flight2.lowFlight.stops}} Stop
                          </td>
                          <td>
                              {{details.flight2.highFlight.flightPath.origin}} - {{details.flight2.highFlight.flightPath.destination}} || {{details.flight2.highFlight.stops}} Stop
                            </td>
                        </tr>
                      </table>
                      <mat-action-row>
                          Change Price
                      <mat-button-toggle-group #group="matButtonToggleGroup">
                          <mat-button-toggle 
                          class="box" 
                          value="1" 
                          aria-label="Cheapest option"
                          (click)="editFlight2Price(1)"> $ </mat-button-toggle>
                          <mat-button-toggle 
                          class="box" 
                          value="2" 
                          aria-label="Middle option"
                          (click)="editFlight2Price(2)">$$ </mat-button-toggle>
                          <mat-button-toggle 
                          style="padding: 0px" 
                          class="box" 
                          value="3" 
                          aria-label="Extravegent option"
                          (click)="editFlight2Price(3)">
                            $$$
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-action-row>
                    </mat-expansion-panel>
            <!-- <td *ngIf="isDoneLoading"> 
              <edit-buttons></edit-buttons>
            </td> -->
            <mat-expansion-panel *ngIf="prices.hotel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Hotel: 
                    </mat-panel-title>
                    <mat-panel-description 
                    *ngFor="let hotel of prices.hotel"
                    class="list">
                        {{hotel | currency}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table *ngIf="prices.hotel">
                    <tr>
                      <td>
                        <a href="{{details.hotel.lowHotel.URL}}" target="_blank" rel="noopener noreferrer">
                            {{details.hotel.lowHotel.name}}</a>
                      </td>
                      <td>
                        <a href="{{details.hotel.highHotel.URL}}" target="_blank" rel="noopener noreferrer">
                        {{details.hotel.highHotel.name}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Type: {{details.hotel.lowHotel.accomodationType}}</td>
                      <td>Type: {{details.hotel.highHotel.accomodationType}}</td>
                    </tr>
                    <tr>
                      <td>Reviewers Say: {{details.hotel.lowHotel.businessScore}}</td>
                      <td>Reviewers Say: {{details.hotel.highHotel.businessScore}}</td>
                    </tr>
                  </table>
                  <mat-action-row>
                    Change Price
                    <mat-button-toggle-group #group="matButtonToggleGroup">
                        <mat-button-toggle 
                        class="box" 
                        value="1" 
                        aria-label="Cheapest option"
                        (click)="editHotelPrice(1)"> $ </mat-button-toggle>
                        <mat-button-toggle 
                        class="box" 
                        value="2" 
                        aria-label="Middle option"
                        (click)="editHotelPrice(2)">$$ </mat-button-toggle>
                        <mat-button-toggle 
                        style="padding: 0px" 
                        class="box" 
                        value="3" 
                        aria-label="Extravegent option"
                        (click)="editHotelPrice(3)">
                          $$$
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                  </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel *ngIf="prices.rental">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    Rental Car: 
                  </mat-panel-title>
                  <mat-panel-description *ngFor="let rental of prices.rental" class="list">
                      {{rental | currency}}
                  </mat-panel-description>
              </mat-expansion-panel-header>
              <table *ngIf="prices.rental">
                  <tr>
                    <td>
                      <a href="{{details.rental.lowRental.url}}" target="_blank" rel="noopener noreferrer">
                          {{details.rental.lowRental.brand}}
                        </a>
                    </td>
                    <td>
                      <a href="{{details.rental.highRental.url}}" target="_blank" rel="noopener noreferrer">
                      {{details.rental.highRental.brand}}
                    </a>
                    </td>
                  </tr>
                  <tr>
                    <td>{{details.rental.lowRental.carClass}}</td>
                    <td>{{details.rental.highRental.carClass}}</td>
                  </tr>
                  <tr>
                    <td>Passengers: {{details.rental.lowRental.passengers}}</td>
                    <td>Passengers: {{details.rental.highRental.passengers}}</td>
                  </tr>
                  <tr>
                      <td>Price/day: {{details.rental.lowRental.pricePerDay || currency}}</td>
                      <td>Price/day: {{details.rental.highRental.pricePerDay || currency}}</td>
                    </tr>
                </table>
          </mat-expansion-panel>

          <mat-expansion-panel *ngIf="prices.meals">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Meals: 
                </mat-panel-title>
                <mat-panel-description *ngFor="let meal of prices.meals" class="list">
                    {{meal | currency}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-action-row>
            <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle 
                class="box" 
                value="1" 
                aria-label="Cheapest option"
                (click)="editFoodPrice(1)"> $ </mat-button-toggle>
                <mat-button-toggle 
                class="box" 
                value="2" 
                aria-label="Middle option"
                (click)="editFoodPrice(2)">$$ </mat-button-toggle>
                <mat-button-toggle 
                style="padding: 0px" 
                class="box" 
                value="3" 
                aria-label="Extravegent option"
                (click)="editFoodPrice(3)">
                  $$$
                </mat-button-toggle>
              </mat-button-toggle-group>
          </mat-action-row>
        </mat-expansion-panel>
          <!-- <td *ngIf="isDoneLoading"> 
              <edit-buttons></edit-buttons>
          </td> -->
      
      <mat-expansion-panel *ngIf="prices.mealsTotal" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
              Meals Total: 
            </mat-panel-title>
            <mat-panel-description >
          </mat-panel-description>
          <mat-panel-description >
          </mat-panel-description>
          <mat-panel-description >
          </mat-panel-description>
            <mat-panel-description >
                {{prices.mealsTotal | currency}}
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="trips.total" hideToggle="true">
      <mat-expansion-panel-header>
          <mat-panel-title>
            Total: 
          </mat-panel-title>
          <mat-panel-description >
        </mat-panel-description>
        <mat-panel-description >
        </mat-panel-description>
        <mat-panel-description >
        </mat-panel-description>
          <mat-panel-description class="end">
            {{trips.total | currency}}
          </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
      
    </mat-accordion> 
    <br>
<div class="road" *ngIf="trips.transpo === 'car'">
  
  <table style="width:80%">
    <th>Road Trip Details:</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <tr>
    <td> Gas per gallon: </td>
    <td>{{prices.gas | currency}}</td>
    <td>Gas Subtotal One Way: </td>
    <td> {{prices.gasTotal | currency}}</td> 
    </tr>
    <tr>
            <td>Miles to travel One Way: </td>
            <td>{{trips.distance}}</td>
        <td> Gas Total: </td>
            <td> {{prices.gasTotal * 2 | currency}}</td>
    </tr>
  </table>
</div>

    </mat-card-content>
    
    <mat-card-actions>
        <div>
      <button 
      mat-raised-button 
      (click)="saveCalls()"
      matTooltip="Save This Trip to Your Account"
      >SAVE TO DASHBOARD</button>
     
      <button mat-raised-button
      (click)="captureScreen()"
      matTooltip="Share Your Trip As A PDF"
      >SAVE TO PDF</button>
      <button 
    matTooltip="Share Your Trip With Another Plnnr"
    mat-raised-button (click)="openDialog()">SHARE ON PLNNR</button>
      </div>
     
      <!-- <button mat-raised-button
      (click)="captureScreen()"
      matTooltip="Share Your Trip With Another Plnnr"
      >SHARE</button> -->
    </mat-card-actions>
  </div>
  </mat-card>
</div>
