<div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(screenWidth > 1040) ? 'side' : 'over'"
      [opened]="screenWidth > 1040">
    <mat-toolbar>PLNNR</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="home">
          <mat-icon>home</mat-icon> Home</a>
      <a mat-list-item href="newtrip">
          <mat-icon>add</mat-icon> New Trip</a>
      <a mat-list-item href="edit">
          <mat-icon>edit</mat-icon> Edit</a>
      <a mat-list-item href="share"
      >
      <mat-icon>share</mat-icon> Share</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
    <mat-toolbar 
    class="mat-toolbar mat-primary"

    color="primary">
    <div [ngStyle]="{'display' : (screenWidth > 1040) ? 'none' : 'block'}">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>
      <a ma-list-item class="logo spacer" href="home">PLNNR</a>
      <span class="spacer2"></span>
      <span class="v1"></span>
      <button mat-icon-button>
        <mat-icon
        [matBadge]="notification"
        matBadgeColor="accent">
          notifications</mat-icon>
      </button>
      <span class="v1"></span>
      <button mat-icon-button [matMenuTriggerFor]="settings" aria-label="Settings button for User settings and dark mode">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settings="matMenu">
          <button mat-menu-item>
              <a ma-list-item href="#">Change Hometown</a>
          </button>
          <button mat-menu-item>
              <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)">Dark theme</mat-slide-toggle>
              <!-- <a ma-list-item (click)="changeTheme()">Dark Mode</a> -->
              <!-- <span>Switch User</span> -->
            </button>
          </mat-menu>
      <span class="v1"></span>
      <img class="avatar" src="../../assets/profile.png" alt="Avatar">
      <!-- Will need to make this dynamic -->
      <span class=username>Default User</span>
      <button mat-icon-button aria-label="Example icon-button with a menu">
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <a ma-list-item (click)="router.navigate(['/'])">Log out</a>
            </button>
            <button mat-menu-item>
                <a ma-list-item>Switch User</a>
                <!-- <span>Switch User</span> -->
              </button>
            </mat-menu>
      <!-- <router-outlet></router-outlet> -->
      <ng-content></ng-content>
    </mat-toolbar>
  </div>
  
