.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-list-base .mat-list-item {
  color: #707070;
}

.spacer {
  margin-left: 70px;
}

.spacer2 {
  flex: 1 1 auto;
}

.logo {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.sidenav .mat-toolbar {
  background: #2ba671;
  color: #ffffff;
}

.username {
  padding-left: 10px;
  font-size: 17px;
}

.avatar {
  border-radius: 50%;
  width: 30px;
  padding-left: 10px;
}

.v1 {
  border-left: 1px solid #fcfafa;
  height: 100%;
}

.iconz {
  font-size: 30px;
}

.mat-toolbar.mat-primary {
  /* position: sticky; */
  position: sticky !important; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; 
  color: #ffffff;
  
  /* z-index: 1; */
}
