<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.shareicon.net/download/2016/09/23/833990_holidays_512x512.png">
</div>
<h1 align="center">Pick a range. Get a vacation.</h1>
<!-- <ul> -->
  <div>
    <h2 align="center"><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Login</a></h2>
  </div>
  <div>
    <h2 align="center"><a target="_blank" rel="noopener" href="https://angular.io/cli">Signup</a></h2>
  </div>
  <!-- <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li> -->
<!-- </ul> -->

<router-outlet></router-outlet>
