<!-- <mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle class="box" value="1" aria-label="Cheapest option"> $ </mat-button-toggle>
  <mat-button-toggle class="box" value="2" aria-label="Middle option">$$ </mat-button-toggle>
  <mat-button-toggle style="padding: 0px" class="box" value="3" aria-label="Extravegent option">
    $$$
  </mat-button-toggle>
</mat-button-toggle-group> -->
<!-- <div class="example-selected-value">Selected value: {{group.value}}</div> -->
<div>
  <table>
<tr></tr>
  </table>
  
  <mat-divider vertical style="height: 60px"></mat-divider>
  <table>
      <tr>A Line of Text</tr>
        </table>
  
</div>
