<br>
<br>
<br>

<div *ngIf="!isDoneLoading">
    <mat-progress-bar
    class="progress"
    mode="query"
    color="primary"
    ></mat-progress-bar>
</div>
<br>
<mat-card class="example-card" >
  <div layout-align="space-between end">
    <mat-card-header>
      <img
      mat-card-avatar
      class="example-header-image"
      src={{trips.cityImg}}>
      <mat-card-title>
        <div class="container">
          <div>{{trips.destination}}: {{trips.title}}</div>
          <div class="fill"></div>
          <div *ngIf="total">
          <div class="end">${{total}}</div>
        </div>
        </div>
      </mat-card-title>
            <mat-card-subtitle>
          <mat-divider inset="true"></mat-divider>
          <div class="lines">
              <div>Origin: {{trips.origin}}</div>
              <div>Departure Date: {{trips.departure}}</div>
              <div>Return Date: {{trips.return}}</div> 
              
          </div>
      </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <table style="width:100%">
          <tr>
              <th>Expense</th>
              <th>Average Cost</th> 
              <th>Lowest Estimate</th>
              <th>Highest Estimate</th>
            </tr>
      <div *ngIf="trips.transpo === 'flight'; else elseBlock">
        <tr> 
        <td>Departing Flight: </td>
          
            <td *ngFor="let flight of prices.flight1" class="list">
              ${{flight}}
            </td>
          
        </tr> 
        <tr> 
          <td>Returning Flight: </td>
          
            <td *ngFor="let flight of prices.flight2" class="list">
              ${{flight}}
            </td>
          </tr>
          <div *ngIf="prices.flight2">
            <p>Flight Total: ${{trips.flight1Avg + trips.flight2Avg}}</p>
          </div>
        </div>
    <tr *ngIf="trips.lodging === 'hotel'">
      <td>Hotel: </td>
      
        <td *ngFor="let hotel of prices.hotel" class="list">
          ${{hotel}}
        </td>
      
    </tr>
<tr *ngIf="prices.meals">
  <td>Price Per Meal: </td>
  
    <td *ngFor="let meal of prices.meals" class="list">
      ${{meal}}
    </td>
  
</tr>
<tr *ngIf="prices.mealsTotal">
      <div>Meals Total: ${{prices.mealsTotal}}.00</div>
</tr>

<tr *ngIf="prices.rental">
  <td>Rental Car: </td>
      
          <td *ngFor="let rental of prices.rental" class="list">
            ${{rental}}
          </td>
        
      </tr>
    </table> 
    <br>
<div class="road" *ngIf="trips.transpo === 'car'">
  
  <table style="width:50%">
    <th>Road Trip Details:</th>
    <th> </th>

    <tr>
     <td> Gas per gallon: </td>
     <td>${{prices.gas}}</td>
    </tr>
    <tr>
        <td>Miles to travel One Way: </td>
            <td>{{trips.distance}}</td>
    </tr>
    <tr>
        <td>Gas Subtotal One Way: </td>
            <td> ${{prices.gasTotal}}</td>
    </tr>
    <tr>
        <td> Gas Total: </td>
            <td> ${{prices.gasTotal * 2}}</td>
    </tr>
  </table>
</div>

    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button>SAVE</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
  </div>
  </mat-card>

   
  <br>
  <br>
  <br>