<div id="content" #content>

<div *ngIf="!lifecycle.isDoneLoading">
    <mat-progress-bar
    class="progress"
    mode="query"
    color="primary"
    ></mat-progress-bar>
</div>
<br>
<mat-card class="example-card" >
  <div layout-align="space-between end">
    <mat-card-header>
      <img
      mat-card-avatar
      class="example-header-image"
      src={{trips.imgUrl}}>
      <mat-card-title>
        <div class="container">
          <div>{{trips.destination}}: {{trips.title}}</div>
          <div class="fill"></div>
          <div *ngIf="trips.total">
          <div class="end">{{trips.total | currency}}</div>
        </div>
        </div>
      </mat-card-title>
            <mat-card-subtitle>
          <mat-divider inset="true"></mat-divider>
          <div class="lines">
            <div>Origin: {{trips.origin}}</div>
            <div>Departure Date: {{tempDeparture}}</div>
            <div>Return Date: {{tempReturn}}</div>

          </div>
      </mat-card-subtitle>
    </mat-card-header>
    <br>
    <mat-card-content>
      <mat-accordion style="width:100%">
          <mat-expansion-panel [disabled]="true" hideToggle="true">
              <mat-expansion-panel-header>
              <mat-panel-title>
                  Expense
                </mat-panel-title>
              <mat-panel-title>
                  Lowest Estimate
              </mat-panel-title>
              <mat-panel-title>
                  Highest Estimate
              </mat-panel-title>
              <mat-panel-title>
                  Average Cost
              </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="prices.flight1">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Departing Flight: 
                  </mat-panel-title>
                  <mat-panel-description *ngFor="let flight of prices.flight1" class="list">
                      {{flight | currency}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <detailed-view></detailed-view>
            </mat-expansion-panel>
                <mat-expansion-panel *ngIf="prices.flight2">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Returning Flight: 
                      </mat-panel-title>
                      <mat-panel-description *ngFor="let flight of prices.flight2" class="list">
                          {{flight | currency}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <detailed-view></detailed-view>
                    </mat-expansion-panel>
            <!-- <td *ngIf="isDoneLoading"> 
              <edit-buttons></edit-buttons>
            </td> -->
            <mat-expansion-panel *ngIf="prices.hotel">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Hotel: 
                    </mat-panel-title>
                    <mat-panel-description 
                    *ngFor="let hotel of prices.hotel"
                    class="list">
                        {{hotel | currency}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <detailed-view></detailed-view>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="prices.rental">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                      Rental Car: 
                    </mat-panel-title>
                    <mat-panel-description *ngFor="let rental of prices.rental" class="list">
                        {{rental | currency}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="prices.rental">
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    Rental Car: 
                  </mat-panel-title>
                  <mat-panel-description *ngFor="let rental of prices.rental" class="list">
                      {{rental | currency}}
                  </mat-panel-description>
              </mat-expansion-panel-header>
              <detailed-view></detailed-view>
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf="prices.meals">
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Meals: 
                </mat-panel-title>
                <mat-panel-description *ngFor="let meal of prices.meals" class="list">
                    {{meal | currency}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <detailed-view></detailed-view>
        </mat-expansion-panel>
          <!-- <td *ngIf="isDoneLoading"> 
              <edit-buttons></edit-buttons>
          </td> -->
      
      <mat-expansion-panel *ngIf="prices.mealsTotal">
        <mat-expansion-panel-header>
            <mat-panel-title>
              Meals Total: 
            </mat-panel-title>
            <mat-panel-description >
          </mat-panel-description>
          <mat-panel-description >
          </mat-panel-description>
          <mat-panel-description >
          </mat-panel-description>
            <mat-panel-description >
                {{prices.mealsTotal | currency}}
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="trips.total">
      <mat-expansion-panel-header>
          <mat-panel-title>
            Total: 
          </mat-panel-title>
          <mat-panel-description >
        </mat-panel-description>
        <mat-panel-description >
        </mat-panel-description>
        <mat-panel-description >
        </mat-panel-description>
          <mat-panel-description class="end">
            {{trips.total | currency}}
          </mat-panel-description>
      </mat-expansion-panel-header>
  </mat-expansion-panel>
      
    </mat-accordion> 
    <br>
<div class="road" *ngIf="trips.transpo === 'car'">
  
  <table style="width:80%">
    <th>Road Trip Details:</th>
    <th> </th>
    <th> </th>
    <th> </th>
    <tr>
    <td> Gas per gallon: </td>
    <td>{{prices.gas | currency}}</td>
    <td>Gas Subtotal One Way: </td>
    <td> {{prices.gasTotal | currency}}</td> 
    </tr>
    <tr>
            <td>Miles to travel One Way: </td>
            <td>{{trips.distance}}</td>
        <td> Gas Total: </td>
            <td> {{prices.gasTotal * 2 | currency}}</td>
    </tr>
  </table>
</div>

    </mat-card-content>
    
    <mat-card-actions>
      <button 
      mat-raised-button 
      >SAVE</button>
      <button mat-raised-button
      (click)="downloadPDF()"
      matTooltip="Share Your Trip As A PDF"
      >SHARE</button>
    </mat-card-actions>
  </div>
  </mat-card>
</div>
