import { Component } from '@angular/core';
import { MatDialog } from '@angular/material';

@Component({
  selector: 'dialog-overview-example',
  template: `<a (click)="openDialog()">Open Dialog</a>`
})
export class DialogOverviewExample {

  constructor(public dialog: MatDialog) {}

  openDialog(): void {
    const dialogRef = this.dialog.open(DialogOverviewExampleDialog, {
      width: '250px',
      data: {name: 'yourName', animal: 'animal'}
    });

    dialogRef.afterClosed().subscribe(result => {
      console.log('The dialog was closed');
    });
  }
}