@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic&amp;subset=latin-ext');

@import '~@angular/material/theming';

$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", sans-serif',
  $body-2:        mat-typography-level(17px, 25px, 600)  
);

$secondary-typography: mat-typography-config(
  $font-family: 'Roboto, sans-serif'
);


// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core($general-typography); 

// define a real custom palette (using http://mcg.mbitson.com)
$pl-green: (
  50 : #e6f4ee,
  100 : #bfe4d4,
  200 : #95d3b8,
  300 : #6bc19c,
  400 : #4bb386,
  500 : #2ba671,
  600 : #269e69,
  700 : #20955e,
  800 : #1a8b54,
  900 : #107b42,
  A100 : #aeffd1,
  A200 : #7bffb3,
  A400 : #48ff96,
  A700 : #2fff87,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$pl-blue: (
    50 : #f6fefe,
    100 : #eafcfd,
    200 : #dcfafc,
    300 : #cdf8fa,
    400 : #c3f7f9,
    500 : #b8f5f8,
    600 : #b1f4f7,
    700 : #a8f2f6,
    800 : #a0f0f5,
    900 : #91eef3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


// mandatory stuff for theming
$pl-palette-primary: mat-palette($pl-green);
$pl-palette-accent:  mat-palette($pl-blue);

// include the custom theme components into a theme object
$pl-theme: mat-light-theme($pl-palette-primary, $pl-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($pl-theme);

// $alt-theme: mat-dark-theme($pl-palette-primary, $pl-palette-accent);

// .alternative {
//   @include angular-material-theme($alt-theme);
// }