/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  background-color: #eeeeee
}

/* mat-progress-bar .mat-progress-bar-buffer {
 margin: auto;
 width: 80%
} */