/* You can add global styles to this file, and also import other style files */
/* :root {
  --text-color-light: rgba(0, 0, 0, 0.8);
  --text-color-white: rgba(255, 255, 255, 1);
  --background-light-smoke: whitesmoke;
  --background-light-white: rgba(255, 255, 255, 1);
  --primary: #2ba671;
  --accent: rgba(184, 245, 248, 1);
} */
body {
  margin: 0;
}



/* 

#home {
  background-color: var(--background-light-smoke);
} */

.mat-button-toggle-label-content {
  padding: 0px !important;
}

.mat-button-toggle-button {
  width: 40px;
  max-width: 40px;
  min-width: 40px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 40px;
  padding: 0px !important;
}

.mat-card-header-text {
  width: 540px !important;
}