<div>


<landing-nav></landing-nav>

<mat-card class="card">


<div >
  <div>

    <main>
        <a (click)="router.navigate(['/'])">
          <mat-icon>arrow_back</mat-icon> Back</a>
        <br>
      <h1 >Get Started</h1> 
      <form
      *ngIf="firstFormGroup"
      method="post"
      [formGroup]="firstFormGroup"
      class="example-container" >
        <mat-form-field [formGroup]="form" required>
            <input matInput 
            autofocus 
            placeholder="Username" 
            id="username" 
            formControlName="username"
            >
        </mat-form-field>
        <mat-form-field [formGroup]="form">
            <input matInput 
            ngx-google-places-autocomplete 
            [options]='options' 
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChange($event)" placeholder="Hometown" 
            id="hometown" 
            formControlName="hometown">
        </mat-form-field>
        <mat-form-field [formGroup]="form">
            <input matInput 
            type="email"
            placeholder="Email"
            id="email"
            formControlName="email">
            <mat-error *ngIf="signupErr">You already have an account with that email</mat-error>
        </mat-form-field>
        <mat-form-field [formGroup]="form">
            <input matInput 
                  placeholder="Enter your password"
                  formControlName="password"
                  id="password"
                  [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
        </mat-form-field>
       
      </form>
      <button mat-raised-button 
      color="accent"
      class="bt"
      (click)="registerUser()">Sign Up</button>
      </main>
    </div>
  </div>
</mat-card>
<div class="right-triangle"></div>
</div>