<landing-nav></landing-nav>
<!-- <br>
<mat-card class="landing">
  Welcome to Plnnr!
  <br>
  Sign Up Now!
</mat-card> -->
<div class="main__container">
  <div class="login-card">

    <main class="login-content">
      <!-- login form -->
      <h1 class="login-welcome-text">Welcome to PLNNR</h1> 
      <!-- <h2 class="login-welcome-text">Create an Account!</h2> -->
      <form method="post" class="login-form">
        <input  autofocus placeholder="Account Username"  class="login-input">
        <input  placeholder="Hometown" class="login-input">
        <input  placeholder="Email"  class="login-input">
        <input  placeholder="Password"  class="login-input">
        <input  (click)="router.navigate(['/home'])"  name="submit" placeholder="Sign Up" class="login-btn">
      </form>
    </main>
    <!-- linking to signup -->
    <!-- <aside class="login__illustration">
      <span class="signup-notice">Don't have an account? &nbsp;</span>
      <a class="signup-link" href="/signup/index.php">Sign up</a>
    </aside> -->

  </div>
</div>